<!doctype html>
<html>
<head>
<link rel="stylesheet" href="style.css">
<title>Our HTML Page</title>
<meta name="description" content="Our first page">
<meta name="keywords" content="html tutorial template">
</head>
<body>
<div class="aParent">
<h2>HOLDINFO.COM</h2>
<label class="switch tele">
 <input type="checkbox" onclick="myFunction()">
 <span class="slider round"></span>
</label> 
</div>
<h3>Welcome To Telegram Page</h3>
</body>
<script src="js/logic.js"></script>
</html>